{% extends "base.html" %}


{% block head %}
<title>Arhiv | Zaboravljena lozinka </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forgotten_password/style.css') }}">
<script src="{{ url_for('static', filename='javascript/forgotten_password/script.js') }}" defer></script>
{% endblock %}


{% block content %}
<div id="loading-animation-container" class="container-fluid bg-dark text-white border-black border mt-3 pb-3">
  <div class="container-lg ps-3">
      <h1 class="display-7 my-2">ZABORAVLJENA LOZINKA: </h1>
      <hr class="my-3">
      <div class="container-lg px-0 fs-5">
            <form id="forgotten-passwd-form" class="needs-validation col-md-6 d-block me-auto" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <label for="forgotten-passwd-email" class="form-label mb-1">Email adresa:</label>
                <div class="input-group has-validation">
                    <input type="email" class="form-control" id="forgotten-passwd-email" name="email" aria-describedby="emailHelp" placeholder="npr. milos.dj.markovic@gmail.com">
                    <div id="forgotten-passwd-email-msg" class="invalid-feedback">Unesite email adresu.</div>
                </div>
                <button type="submit" class="btn btn-success border border-black my-3">POŠALJI</button>
            </form>
    </div>
  </div>
</div>
{% endblock %}