{% extends "base.html" %}


{% block head %}
<title>Arhiv | Zaboravljena lozinka </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_password/style.css') }}">
<script src="{{ url_for('static', filename='javascript/new_password/script.js') }}" defer></script>
{% endblock %}


{% block content %}
<div id="loading-animation-container" class="container-fluid bg-dark text-white border-black border mt-3 pb-3">
  <div class="container-lg ps-3">
      <h1 class="display-7 my-2">ZABORAVLJENA LOZINKA: </h1>
      <hr class="my-3">
      <div class="container-lg px-0 fs-5">
            <form id="new-passwd-form" class="needs-validation col-md-6 d-block me-auto" novalidate>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="token" value="{{ token }}">
                <label for="new-passwd" class="form-label mb-1">Nova lozinka:</label>
                <div class="input-group has-validation">
                    <input autocomplete="new-password" type="password" id="new-passwd" name="new-passwd" class="form-control" placeholder="npr. arhiv1999?">
                    <span id="new-passwd-show" class="input-group-text fi-rs-eye"></span>
                    <div id="new-passwd-msg" class="invalid-feedback fs-6">Unesite lozinku.</div>
                </div>
                <button type="submit" class="btn btn-success border border-black my-3">POŠALJI</button>
            </form>
    </div>
  </div>
</div>
{% endblock %}