{% extends "base.html" %}

{% block head %}
<title>Arhiv | Rezervacije </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservations/style.css') }}">
<script src="{{ url_for('static', filename='javascript/reservations/script.js') }}" defer></script>
{% endblock %}


{% block content %}
<div class="container-fluid bg-dark text-white border-black border mt-3 pb-3">
  <div class="container-lg">
      <h1 class="display-7 my-2">REZERVACIJE: </h1>
      <hr class="my-3">
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
      {% if reservations != 'False' %}
          {% for reservation in reservations %}
            <div class="container-lg">
              <div class="row fs-5">
                  <div class="col-lg-1 col-sm-3 p-0">
                      <img src="{{ url_for('static', filename='resources/movie-posters/' + reservation.projection.movie_poster) }}" alt="{{ reservation.projection.movie_poster }}" class="border border-black w-100">
                  </div>
                  <div class="col-lg-10 px-0 ps-lg-4 my-3 my-lg-0">
                      <div class="row">
                        <div class="col-lg-4 col-xl-3 text-secondary" >Naziv filma:</div>
                        <div class="col-lg-6 text-warning">{{ reservation.projection.movie_title }} ({{ reservation.projection.movie_year }})</div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 col-xl-3 text-secondary">Datum i vreme:</div>
                        <div class="col-lg-6"> {{ reservation.projection.date | format_date }},  {{ reservation.projection.time }}</div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 col-xl-3 text-secondary">Sedište/a:</div>
                        <div class="col-lg-6">RED {{ reservation.seat.row }},  BROJ {{ reservation.seat.number }}</div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4 col-xl-3 text-secondary">Rezervacija kreirana:</div>
                        <div class="col-lg-6">{{ reservation.created_at }}</div>
                      </div>
                  </div>
                  <div class="col-sm-3 col-lg-1 d-flex p-0">
                      <button class="btn btn-danger border border-black align-self-end w-100" onclick="deleteReservation({{ reservation.id }})">OTKAŽI</button>
                  </div>
              </div>
            </div>
            <hr>
          {% endfor %}
      {% endif %}
  </div>
</div>
{% endblock %}