/*---------------------------------------------------------------------------------*/
/* animacija za citate na vrhu strane */
#movie-quotes {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#movie-quotes.active {
  opacity: 1;
}
/*---------------------------------------------------------------------------------*/
/* footer linkovi i ikonice */
footer a{
    text-decoration: none;
    color: white;
}

#social img{
    width: 20px;
    position: relative;
    top: -2px;
    display: inline-block;
}
/*---------------------------------------------------------------------------------*/
/* pozicioniranje ikonice za prikazivanje(toggle) lozinke u formama  */
.passwd-wrap {
	position: relative;
}
#register-show-passwd,
 #login-show-passwd{
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	cursor: pointer;
	width: 1.5rem;
	display: flex;
	align-items: center;
}
/*---------------------------------------------------------------------------------*/
