/*---------------------------------------------------------------------------------*/
/* tekstura strane */
body{
    background-image: url('../resources/images/background-texture.jpg'); 
    background-size: 50px; 
    background-repeat: repeat;
    opacity: 0.93;
  }
  /*---------------------------------------------------------------------------------*/
  /* animacija za citate na vrhu strane */
  #movie-quotes {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  #movie-quotes.active {
    opacity: 1;
  }
  /*---------------------------------------------------------------------------------*/
  /* footer linkovi i ikonice */
  footer a{
      text-decoration: none;
      color: white;
  }
  
  #social img{
      width: 20px;
      position: relative;
      top: -2px;
      display: inline-block;
  }
  /*---------------------------------------------------------------------------------*/