/*---------------------------------------------------------------------------------*/
/* stil za tab lokalnu navigaciju */
#nav-tab button{
    color: #fff;    
}

#nav-tab .active{
    color: #444;
    background-color: #fff;
}
/*---------------------------------------------------------------------------------*/
