{% extends "base.html" %}


{% block head %}
<title>Arhiv | Česta pitanja </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/faq/style.css') }}">
<script src="{{ url_for('static', filename='javascript/faq/script.js') }}" defer></script>
{% endblock %}


{% block content %}
<div class="container-fluid bg-dark border-black border mt-3">
  <div class="container my-4">

      <span class="display-7 text-white">ČESTO POSTAVLJENA PITANJA: </span>
      <hr class="text-white">


<div class="accordion accordion-flush border border-black" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed border-bottom border-black" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        1. GDE MOGU PRONAĆI CENE BIOSKOPSKIH ULAZNICA?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse show border-bottom border-black" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Cene bioskopskih ulaznica možete videti na tabeli ispod:
        <br>
        <table>
          <tr>
            <th>Cena klasičnih sedišta:</th>
            <td>300rsd</td>
            <td>400rsd</td>
            <td>500rsd</td>
          </tr>
          <tr>
            <th>Cena VIP sedišta (x1.2):</th>
            <td>360rsd</td>
            <td>480rsd</td>
            <td>600rsd</td>
          </tr>
          <tr>
            <th>Trajanje filma:</th>
            <td>> 1h</td>
            <td>> 2h</td>
            <td>> 3h</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed border-bottom border-black" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        2. DA LI JE MOGUĆE OSTVARITI POPUST NA CENU?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse border-bottom border-black" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Da. U bioskopu se cene razlikuju u zavisnosti od dana. Tokom nedelje student mogu ostvariti popust direktno na
        blagajni bioskopa, uz davanje na uvid studentskog indeksa. Popusti se ne mogu primeniti na događaje sa posebnim
        cenama (premijere i posebni prenosi).
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed border-bottom border-black" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        3. KAKO MOGU ON-LINE REZERVISATI ULAZNICE?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse border-bottom border-black" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Online rezervacija ulaznica je moguća preko odeljka „Repertoar“. Uz pomoć filtera odredite svoj izbor i
        klikom na termin projekcije bićete preusmereni u proces rezervacije vaših ulaznica.
        U okviru procesu rezervacije neophodno je da odaberete željeni broj i poziciju sedišta i potvrdite
        rezerviciju karata. Napominjemo da za proces rezervacije morate biti prijavljeni.
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed border-bottom border-black" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        4. MOGU LI SE ULAZNICE REZERVISATI PREKO E-MAILA?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse border-bottom border-black" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Ne. Rezervacija nije moguća preko e-maila, jer je e-mail centralno usmeren i nije direktno prosleđen na
        Arhiv rezervacije. Ulaznice možete rezervisati putem interneta ili telefonski preko telefonskog broja bioskopa.
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed border-bottom border-black" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        5. KAKO MOGU VRATITI SVOJE ULAZNICE?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse border-bottom border-black" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Vraćanje kupljenih bioskopskih ulaznica nije moguće! Samo rezervisane bioskopske ulaznice se mogu poništiti.
        Storniranje je moguće klikom na „Rezervacije“ u odeljku profila (prethodno se morate prijaviti).
        Ovde dolazite do pregleda rezervisanih bioskopskih ulaznica. Storniranje rezervacija je moguće ako kliknete
        na dugme otkaži. Sledeća mogućnost je da dobijete e-mail s potvrdom u kojoj je prikazan link za „Storniranje“.
        Nakon procesa rezervisanja ulaznica uvek dobijate ovakav e-mail, kao potvrdu o rezervaciji.
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed border-bottom border-black" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        6. ŠTA DA RADIM UKOLIKO ONLINE REZERVACIJA NE FUNKCIONIŠE?
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        U posebnim slučajevima može doći do tehničkih problema (preopterećenje sistema u vreme kada se učitava novi
        bioskopski repertoar). Ukoliko slučajno dođe do neželjenog prekida pre rezervacije ulaznica, molimo vas da
        proces rezervacije ponovite nakon 15 minuta. Ukoliko neželjeni prekid procesa nastane tek nakon rezervacije
        ulaznica i ne dobijete potvrdni e-mail o rezervaciji, molimo Vas da stupite u kontakt sa centralom bioskopa.
      </div>
    </div>
  </div>
</div>


  </div>
</div>
{% endblock %}