<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Marković Miloš, milos.dj.markovic@gmail.com">
    <link rel="shortcut icon" href="{{ url_for('static', filename='resources/images/arhiv_logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/misc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uicons/uicons-solid-rounded/css/uicons-solid-rounded.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uicons/uicons-bold-straight/css/uicons-bold-straight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uicons/uicons-solid-straight/css/uicons-solid-straight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uicons/uicons-regular-straight/css/uicons-regular-straight.css') }}">
    <script src="{{ url_for('static', filename='javascript/jquery.js') }}"></script>
    {% if not current_user.is_authenticated %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_and_login.css') }}">
    <script src="{{ url_for('static', filename='javascript/register_and_login.js') }}" defer></script>
    {% endif %}
    <script src="{{ url_for('static', filename='javascript/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/misc.js') }}" defer></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="modal fade" id="staticBackdropSuccessAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropSuccessAlertLabel" aria-hidden="true" style="z-index: 9999;">
        <div class="modal-dialog modal-lg modal-dialog-centered border-5 border-danger">
            <div class="modal-content bg-body-secondary modal-texture border border-black">
                <div class="modal-header">
                    <div class="container text-center">
                        <div class="row">
                            <h1 id="message-header" class="modal-title display-7"></h1>
                            <h5 id="message-text"></h5>
                            <p id="additional-message-text"></p>
                            <div class="d-flex justify-content-center ">
                              <button id="success-confirm" type="button" class="btn btn-success border border-black py-1" data-bs-dismiss="modal" aria-label="Close">Razumeo/la</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdropErrorAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropErrorAlertLabel" aria-hidden="true" style="z-index: 9999;">
        <div class="modal-dialog modal-lg modal-dialog-centered border-5 border-danger">
            <div class="modal-content bg-body-secondary modal-texture border border-black">
                <div class="modal-header">
                    <div class="container text-center">
                        <div class="row">
                    <h1 class="modal-title display-6" id="staticBackdropErrorAlertLabel">UPS, ŽAO NAM JE.</h1>
                    <h5>NAŽALOST, NISMO MOGLI DA UČITAMO ODREĐENE PODATKE.</h5>
                    <p> Molimo da ponovo učitate stranicu ili pokušate malo kasnije.</p>
                            <div class="container d-flex justify-content-between">
                                    <button id="cancel-page" class="btn btn-secondary border border-black py-1">Otkazati</button>
                                    <button id="refresh-page" class="btn btn-danger border border-black py-1">Obnovi stranicu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% if not current_user.is_authenticated %}
    <!--MODALS_POČETAK-->
    <div>
        <div class="modal fade" id="staticBackdropLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLoginLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered border-5 border-danger">
            <div class="modal-content bg-body-secondary modal-texture border border-black">
            <div class="modal-header ">
                <h1 class="modal-title fs-5" id="staticBackdropLoginLabel">
                PRIJAVA
                {% if 'login_fail' in get_flashed_messages() %}
                <span class="text-danger"> (POGREŠNI KREDENCIJALI)</span>
                {% endif %}
                </h1>
                <button type="button" id="login-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('auth_api.login') }}" method="post" id="login-form" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="login-username" id="login-username-lbl" class="form-label w-100">Korisničko ime</label>
                        <input type="text" id="login-username" class="form-control" name="login-username" aria-describedby="usernameHelp" placeholder="npr. milosmarkovicx3">
                    </div>
                    <div class="mb-2">
                        <label for="login-passwd" id="login-passwd-lbl" class="form-label">Lozinka</label>
                        <div class="input-group has-validation">
                            <input type="password" id="login-passwd" class="form-control" name="login-passwd" placeholder="npr. arhiv1999?">
                            <span id="login-show-passwd" class="input-group-text fi-rs-eye"></span>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="mt-3 form-check">
                        <input type="checkbox" class="form-check-input" id="login-conditions" name="login-conditions">
                        <label id="login-conditions-lbl" class="form-check-label" for="login-conditions">
                            Zapamti me
                        </label>
                        <a href="" class="text-danger-emphasis text-decoration-none float-end">*Zaboravljena lozinka</a>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-success border border-black">Potvrdi</button>
                <button type="button" class="btn btn-danger border border-black" data-bs-dismiss="modal">Otkaži</button>
                </div>
            </form>
            </div>
        </div>
        </div>
        <div class="modal fade" id="staticBackdropRegistation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropRegistationLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content bg-body-secondary modal-texture border border-black">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropRegistationLabel">REGISTRACIJA</h1>
                <button type="button" id="register-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="register-form" action="" class="needs-validation" >
                <div class="modal-body pb-0">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-2">
                        <label for="register-username" class="form-label mb-1">Korisničko ime</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" id="register-username" name="register-username" aria-describedby="usernameHelp" placeholder="npr. milosmarkovicx3" >
                            <div id="register-username-msg" class="invalid-feedback"> Izarerite korisničko ime.</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="register-email" class="form-label mb-1">Email adresa</label>
                        <div class="input-group has-validation">
                            <input type="email" class="form-control" id="register-email" name="register-email" aria-describedby="emailHelp" placeholder="npr. milos.dj.markovic@gmail.com">
                            <div id="register-email-msg" class="invalid-feedback">Unesite email adresu.</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="register-passwd" class="form-label mb-1">Lozinka</label>
                        <div class="input-group has-validation">
                            <input autocomplete="new-password" type="password" id="register-passwd" name="register-passwd" class="form-control" placeholder="npr. arhiv1999?">
                            <span id="register-show-passwd" class="input-group-text fi-rs-eye"></span>
                            <div id="register-passwd-msg" class="invalid-feedback">Izaberite lozinku.</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="register-first-name" class="form-label mb-1">Ime</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="register-first-name" name="register-first-name" aria-describedby="nameHelp" placeholder="npr. Miloš">
                            <div class="invalid-feedback">Unesite vaše ime.</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="register-last-name" class="form-label mb-1">Prezime</label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="register-last-name" name="register-last-name" aria-describedby="surnameHelp" placeholder="npr. Marković">
                            <div class="invalid-feedback">Unesite vaše prezime.</div>
                        </div>
                    </div>
                    <div class="mb-2 form-check">
                        <input type="checkbox" class="form-check-input" id="register-conditions" name="register-conditions">
                        <label class="form-label" for="register-conditions">
                            Prihvatam
                            <a href="{{ url_for('template_api.privacy_politics') }}" class="text-danger-emphasis text-decoration-none" target="_blank">politiku privatnosti</a> i
                            <a href="{{ url_for('template_api.terms_and_conditions') }}" class="text-danger-emphasis text-decoration-none" target="_blank">uslove korišćenja</a>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success border border-black">Potvrdi</button>
                    <button type="button" class="btn btn-danger border border-black" data-bs-dismiss="modal">Otkaži</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    <!--MODALS_KRAJ-->
    {% endif %}

<div id="texture" class="min-vh-100">
    <div id="background" class="container-fluid min-vh-100">
        <div class="container-lg">

            <!--HEADER_POČETAK-->
            <div class="container-fluid">
                <div class="row mb-3 p-0 align-items-center border-black border bg-white user-select-none" >
                    <div class="d-none d-lg-inline-block col-sm-3 p-0 border-end border-black">
                        <img src="{{ url_for('static', filename='resources/images/lion_intro.gif') }}" class="w-100 p-0" alt="lion_intro.gif">
                    </div>
                    <div class="col-lg-9 ">
                        <p id="quote" class="active">"You either die a hero or you live long enough to see yourself become the villain."</p>
                        <p id="quote-from" class="active"><span id="quote-from-hover">- The Dark Knight</span></p>
                    </div>
                </div>
            </div>
            <!--HEADER_POČETAK-->

            <!--NAVIGACIJA_POČETAK-->
            <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark border-black border">
                <div class="container-fluid d-flex justify-content-center text-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto " style="--bs-scroll-height: 100px;">
                    <li class="d-none d-lg-inline-block">
                        <a id="nav-li-logo" href="{{ url_for('template_api.index') }}">
                        <img style="width: 40px;" src="{{ url_for('static', filename='resources/images/arhiv_logo.jpg') }}" alt="ARHIV_LOGO">
                        </a>
                    </li>
                    {% block nav %}
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ url_for('template_api.index') }}">POČETNA</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.repertoire') }}">REPERTOAR</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.events') }}">DOGAĐAJI</a></li>
                     <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.membership') }}">ČLANSTVO</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.contact') }}">KONTAKT</a></li>
                    {% endblock %}
                    </ul>
                    {% if current_user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                    <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if current_user.image %}
                        <img src="{{ url_for('static', filename='resources/user-images/' + current_user.image) }}" alt="profile_picture" width="28" height="28" class="rounded-circle me-2 border border-black">
                        {% else %}
                        <img src="{{ url_for('static', filename='resources/user-images/avatar_profile_picture.png') }}" alt="profile_picture" width="28" height="28" class="rounded-circle me-2 border border-black">
                        {% endif %}
                        {{ current_user.first_name|upper }}
                        {{ current_user.last_name|upper }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark border border-black">
                        {% if current_user.is_superuser %}
                        <li><a class="dropdown-item" href="{{ url_for('template_api.dashboard') }}"><span class="fi fi-rs-list"></span>&nbsp; Admin panel</a></li>
                        {% else %}

                        {% endif %}
                        <li><a class="dropdown-item" href="{{ url_for('template_api.profile') }}"><span class="fi fi-sr-user"></span>&nbsp; Profil</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('template_api.reservations') }}"><span class="fi fi-rs-message-code"></span>&nbsp; Rezervacije</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('template_api.settings') }}"><span class="fi fi-rs-settings"></span>&nbsp; Podešavanja</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth_api.logout') }}" id="log-out"><span class="fi fi-rs-exit"></span>&nbsp; Odjavi se</a></li>
                    </ul>
                    </div>
                    </div>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right not-logged">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdropRegistation">
                        <span class="fi fi-bs-list"></span> Registracija
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="login-click" data-bs-toggle="modal" data-bs-target="#staticBackdropLogin">
                        <span class="fi fi-sr-user"></span> Prijava
                        </a>
                    </li>
                    </ul>
                    {% endif %}
                </div>
                </div>
            </nav>
            <!--NAVIGACIJA_KRAJ-->

            {% block content %}
            {% endblock %}

            <footer class="container-fluid text-white bg-dark border-black border mt-3">
                <div class="row m-3 mb-0 justify-content-between">
                <div class="col-lg-3 col-sm-6 p-0">
                    <h5>RADNO VREME</h5>
                    <p>
                    Radno vreme blagajne je od: <br>
                    08:00 - 22:00 radnim danom <br>
                    10:00 - 22:00 subota nedelja <br>
                    (prodaja karata na dan projekcije)
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-0">
                    <h5>KONTAKTIRAJTE NAS</h5>
                    <p>
                    <span class="fi fi-ss-map-marker"></span>
                    <a href="https://goo.gl/maps/Uf6CNTXEZfVkkfwt7" target="_blank">Kneza Miloša 7, 11000 Beograd</a> <br>
                    <span class="fi fi-ss-envelope"></span>
                    <a href="mailto:office@arhiv.rs" target="_blank">office@arhiv.rs</a> <br>
                    <span class="fi fi-ss-phone-call"></span>
                    +381 11 32 36 517 <br>
                    <span class="fi fi-ss-phone-plus"></span>
                    +381 11 22 03 400
                    </p>
                </div>
                <div id="social" class="col-lg-2 col-sm-6 p-0">
                    <h5>PRATITE NAS</h5>
                    <p>
                    <img src="{{ url_for('static', filename='resources/social-media-icons/facebook (6).png') }}" class="fi" alt="facebook">
                    <a href="https://www.facebook.com" target="_blank">Facebook</a> <br>
                    <img src="{{ url_for('static', filename='resources/social-media-icons/twitter (4).png') }}" class="fi" alt="twitter">
                    <a href="https://twitter.com/home" target="_blank">Twitter</a> <br>
                    <img src="{{ url_for('static', filename='resources/social-media-icons/instagram (3).png') }}" class="fi" alt="instagram">
                    <a href="https://www.instagram.com" target="_blank">Instagram</a> <br>
                    <img src="{{ url_for('static', filename='resources/social-media-icons/youtube (3).png') }}" class="fi" alt="youtube">
                    <a href="https://www.youtube.com" target="_blank">YouTube</a>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-0">
                    <h5>DODATNE INFORMACIJE</h5>
                    <p>
                    <span class="fi fi-ss-messages-question"></span>
                    <a href="{{ url_for('template_api.faq') }}">Često postavljena pitanja</a> <br>
                    <span class="fi fi-ss-shield-check"></span>
                    <a href="{{ url_for('template_api.privacy_politics') }}">Politika privatnosti</a> <br>
                    <span class="fi  fi-ss-settings"></span>
                    <a href="{{ url_for('template_api.terms_and_conditions') }}">Uslovi korišćenja</a> <br>
                    <span class="fi fi-ss-search-alt"></span>
                    <a href="{{ url_for('template_api.about_us') }}">O nama</a>
                    </p>
                </div>
                </div>
                <hr class="m-0">
                <p class="text-center my-2">© 2019-2023 Arhiv, Inc</p>
            </footer>

        </div>
    </div>
</div>
    {% if 'login_fail' in get_flashed_messages() %}
    <script defer>
    $(document).ready(function() {
        let modal = $('#staticBackdropLogin');
        let modalTrigger = new bootstrap.Modal(modal);
        modalTrigger.show();
    });
    </script>
    {% endif %}
</body>
</html>

