{% extends "base.html" %}


{% block head %}
<title>Arhiv | Kontakt </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact/style.css') }}">
<script src="{{ url_for('static', filename='javascript/contact/script.js') }}" defer></script>
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.index') }}">POČETNA</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.repertoire') }}">REPERTOAR</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.events') }}">DOGAĐAJI</a></li>
 <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.membership') }}">ČLANSTVO</a></li>
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('template_api.contact') }}">KONTAKT</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid bg-dark border-black border mt-3">
  <div class="container-lg my-4 text-white">
    <span class="display-7">KONTAKT: </span>
    <hr>
    <div class="row px-3">
            <!--OPŠTE_INFORMACIJE_POČETAK-->
            <div class="col-lg-6 pe-3">
                <span class="text-warning display-8">OPŠTE INFORMACIJE:</span>
                <hr>
                <div class="col-sm-12 row m-0">
                    <div class="col-sm-6 p-0">
                        <h5>KONTAKT INFORMACIJE</h5>
                            <span class="fi fi-ss-envelope"></span>
                            office@arhiv.rs <br>
                            <span class="fi fi-ss-phone-call"></span>
                            +381 11 32 36 517 <br>
                            <span class="fi fi-ss-phone-plus"></span>
                            +381 11 22 03 400
                    </div>
                    <div class="col-sm-6 p-0">
                        <h5>RADNO VREME</h5>
                          08h-22h - radni dan<br>
                          10h-22h - subota i nedelja<br>
                         (prodaja karata na dan projekcije)
                    </div>
                </div>
                <br>
                <hr class="mt-0">
                <div>
                    <iframe height="300px" class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.57685171064!2d20.4654834!3d44.8098116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aa58cb01271%3A0x3c4d18d26980361c!2sKneza%20Milo%C5%A1a%207%2C%20Beograd%2011040!5e0!3m2!1sen!2srs!4v1684014131455!5m2!1sen!2srs"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <!--OPŠTE_INFORMACIJE_KRAJ-->

            <!--FORMA_POČETAK-->
            <form id="contact-form" class="col-lg-6 ps-3 needs-validation" novalidate>
              <hr class="d-lg-none d-flex">
              <span class="text-warning display-8">KONTAKT FORMULAR:</span>
              <hr>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="row mb-2">
                      <div class="col-sm-6">
                            <span class="fi-ss-user">
                                <label class="form-label mb-1 fs-5">Ime:</label>
                            </span>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="contact-first-name" name="contact-first-name" aria-describedby="nameHelp" placeholder="npr. Miloš">
                                <div class="invalid-feedback">Unesite vaše ime.</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <span class="fi-ss-user-add">
                                <label class="form-label mb-1 fs-5">Prezime:</label>
                            </span>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="contact-last-name" name="contact-last-name" aria-describedby="nameHelp" placeholder="npr. Marković">
                                <div class="invalid-feedback">Unesite vaše prezime.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <span class="fi fi-ss-at">
                            <label for="contact-email" class="form-label mb-1 fs-5">Email adresa:</label>
                        </span>
                        <div class="input-group has-validation">
                            <input type="email" class="form-control" id="contact-email" name="contact-email" aria-describedby="emailHelp" placeholder="npr. milos.dj.markovic@gmail.com" >
                            <div id="contact-email-msg" class="invalid-feedback">Unesite email adresu.</div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <span class="fi fi-ss-attribution-pencil">
                            <label for="contact-message" class="form-label mb-1 fs-5">Poruka:</label>
                        </span>
                        <div class="input-group has-validation">
                            <textarea  class="form-control" id="contact-message" name="contact-message" rows="8" aria-describedby="surnameHelp" placeholder="npr. Poštovani,

Javljam vam se povodom nemogućnosti rezervisanja sedišta.
Naziv filma 'Dracula Untold', red sedišta 8, broj sedišta 10, sala 'Marilyn Monroe', projekcija 14.05 u 12:45.

Srdačan pozdrav"></textarea>
                            <div class="invalid-feedback">Unesite vašu poruku.</div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success border border-black w-100">POŠALJI</button>
                    </div>

                </form>
            <!--FORMA_KRAJ-->
    </div>
  </div>
</div>
{% endblock %}