<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Marković Miloš, milosmarkovicx3@gmail.com">
    <link rel="icon" href="{{url_for('static', filename='resources/images/icon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/AddToDatabase/css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <script src="{{url_for('static', filename='javascript/jquery.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/AddToDatabase/js.js')}}" defer></script>
    <title>Dodaj u bazu</title>
</head>
<body>
        Opcija: 
        <select id="option">
            <option value="insert">- Dodaj -</option>            
            <option value="delete">- Obriši -</option>
        </select> <br>
        Kategorija: 
        <select id="category">
            <option value="Movie">- Film -</option>
            <option value="Actor">- Glumac -</option>
            <option value="Genre">- Žanr -</option>
        </select> <br>
        Instance:
        <select id="instances"></select> <br> 
        <button onclick="request()">Pošalji zahtev</button>  

        <fieldset id="fieldMovie" class="field">
        <legend>FILM</legend>
        <form id="form_movie" enctype="multipart/form-data">
                {{ form_movie.hidden_tag() }}
                {{ form_movie.title.label }}
                <label id="error-title">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.title }} <br>
                {{ form_movie.year.label }}
                <label id="error-year">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.year }} <br>
                {{ form_movie.duration.label }}
                <label id="error-duration">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.duration }} <br>
                {{ form_movie.rating.label }}
                <label id="error-rating">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.rating }} <br>
                {{ form_movie.votes.label }}
                <label id="error-votes">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.votes }} <br>
            
                {{ form_movie.poster.label }}
                <label id="error-poster"></label> <br>
                {{ form_movie.poster }}
                {{ form_movie.posterFile }}
                {{ form_movie.posterFile.label }} <br>
                
                {{ form_movie.genresSearch.label }}
                <label id="error-genresSearch">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.genresSearch }}
                <div id="genresDatabase"></div>

                {{ form_movie.actorsSearch.label }}
                <label id="error-actorsSearch">*Loš unos, pokušajte opet*</label> <br>
                {{ form_movie.actorsSearch }}
                <div id="actorsDatabase"></div>
                {{ form_movie.submit }}
        </form>
        </fieldset>
        <fieldset id="fieldActor" class="field">
        <legend>GLUMAC</legend>
        <form id="form_actor" enctype="multipart/form-data">
                {{ form_actor.hidden_tag() }}
                <div>
                    {{ form_actor.name.label }}
                    <label id="error-name">*Loš unos, pokušajte opet*</label> <br>
                    {{ form_actor.name }} <br>
                    {{ form_actor.actorImage.label }}
                    <label id="error-actorImage"></label> <br>
                    {{ form_actor.actorImage }}
                    {{ form_actor.actorFile }}
                    {{ form_actor.actorFile.label }} <br>
                    {{ form_actor.submit }}
                </div>            
        </form>
        </fieldset>
        <fieldset id="fieldGenre" class="field">
        <legend>ŽANR</legend>
        <form id="form_genre" enctype="multipart/form-data">
                {{ form_genre.hidden_tag() }}
                <div>
                    {{ form_genre.genre.label }}
                    <label id="error-genre">*Loš unos, pokušajte opet*</label> <br>
                    {{ form_genre.genre }} <br>
                    {{ form_genre.genreImage.label }}
                    <label id="error-genreImage"></label> <br>
                    {{ form_genre.genreImage }}
                    {{ form_genre.genreFile }}
                    {{ form_genre.genreFile.label }} <br>
                    {{ form_genre.submit }}
                </div>
        </form>
        </fieldset>
</body>
</html>