{% extends "base.html" %}


{% block head %}
<title>Arhiv | Arhiv Članstvo </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/events/style.css') }}">
<script src="{{ url_for('static', filename='javascript/events/script.js') }}" defer></script>
{% endblock %}


{% block nav %}
<li class="nav-item"><a class="nav-link"  href="{{ url_for('template_api.index') }}">POČETNA</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.repertoire', page=1) }}">REPERTOAR</a></li>
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('template_api.events') }}">DOGAĐAJI</a></li>
 <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.membership') }}">ČLANSTVO</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.contact') }}">KONTAKT</a></li>
{% endblock %}


{% block content %}
<div class="container-fluid bg-light border-black border mt-3">
  <div class="container my-4">

      <span class="display-7">DOGAĐAJI: </span>
      <hr>

    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.online_shopping') }}">
          <img src="{{ url_for('static', filename='resources/pages/online_shopping/online_shopping.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">ONLINE KUPOVINA JE STIGLA U ARHIV!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_popcorns') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_popcorns/arhiv_popcorns.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">BESPLATNE KOKICE ZA ČLANOVE PORODIČNOG FILM KLUBA!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_family') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_family/arhiv_family.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">BIOSKOP ZA CELU PORODICU!</h5>
      </div>
    </div>

    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_meal') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_meal/arhiv_meal.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">ARHIV BONUS KARTICA ZA VIŠE POGODNOSTI!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.bonus_card') }}">
          <img src="{{ url_for('static', filename='resources/pages/bonus_card/bonus_card.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">ARHIV BONUS KARTICA - TVOJ KLUB POGODNOSTI!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for( 'template_api.arhiv_party') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_party/arhiv_party.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">PROSLAVI ROĐENDAN KAO NA FILMU!</h5>
      </div>
    </div>

    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_tuesday') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_tuesday/arhiv_tuesday.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">FILMSKI DAN U ARHIVU!</h5>
      </div>

    </div>

  </div>
</div>
{% endblock %}