{% extends "base.html" %}

{% block head %}
<title>Arhiv | Početna</title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
<script src="{{ url_for('static', filename='javascript/index/script.js') }}" defer></script>
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('template_api.index') }}">POČETNA</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.repertoire', page=1) }}">REPERTOAR</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.events') }}">DOGAĐAJI</a></li>
 <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.membership') }}">ČLANSTVO</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.contact') }}">KONTAKT</a></li>
{% endblock %}

{% block content %}             
<!--IMG_SLIDER_POČETAK-->
<div id="carouselControls" class="carousel slide p-0 my-3 border-black border" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='resources/pages/index/slider-img-1.jpg') }}" class="w-100">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/pages/index/slider-img-2.jpg') }}" class="w-100">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/pages/index/slider-img-3.jpg') }}" class="w-100">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/pages/index/slider-img-4.jpg') }}" class="w-100">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/pages/index/slider-img-5.jpg') }}" class="w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--IMG_SLIDER_KRAJ-->

<!--DOGAĐAJI_3x2_POČETAK-->
<div class="container-fluid bg-dark text-white border-black border">
  <div class="container">
    <h1 class="display-7 m-0 mt-2">DOGAĐAJI</h1>
    <hr class="my-2">
    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.online_shopping') }}">
          <img src="{{ url_for('static', filename='resources/pages/online_shopping/online_shopping.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">ONLINE KUPOVINA JE STIGLA U ARHIV!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_popcorns') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_popcorns/arhiv_popcorns.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">BESPLATNE KOKICE ZA ČLANOVE PORODIČNOG FILM KLUBA!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_family') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_family/arhiv_family.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">BIOSKOP ZA CELU PORODICU!</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.arhiv_meal') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_meal/arhiv_meal.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">ARHIV BONUS KARTICA ZA VIŠE POGODNOSTI!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('template_api.bonus_card') }}">
          <img src="{{ url_for('static', filename='resources/pages/bonus_card/bonus_card.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">ARHIV BONUS KARTICA - TVOJ KLUB POGODNOSTI!</h5>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for( 'template_api.arhiv_party') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_party/arhiv_party.jpg') }}" class="w-100 img-zoom-hover border-black border">
        </a>
        <h5 class="mb-0 mt-2">PROSLAVI ROĐENDAN KAO NA FILMU!</h5>
      </div>
    </div>
  </div>

  <br>
</div>
<!--DOGAĐAJI_3x2_KRAJ-->

<!--IZDVAJAMO_POČETAK-->
<div class="container-fluid bg-dark text-white my-3 border-black border">
  <div class="container">

    <h1 class="display-7 m-0 mt-2">IZDVAJAMO</h1>
    <hr class="my-2">
    <div class="row mt-4 text-center">
      <div class="col-sm-3">
        <a href="{{ url_for('template_api.movie', id=1 ) }}">
          <img src="{{ url_for('static', filename='resources/movie-posters/dracula_untold.png') }}" class="w-100 img-zoom-lower-hover border-black border" alt="dracula_untold">
        </a>
        <h5 class="mb-0 mt-2">Dracula Untold</h5>
        <span class="text-secondary">(2014)</span>
      </div>
      <div class="col-sm-3">
        <a href="{{ url_for('template_api.movie', id=4 ) }}">
          <img src="{{ url_for('static', filename='resources/movie-posters/public_enemies.png') }}" class="w-100 img-zoom-lower-hover border-black border" alt="public_enemies">
        </a>
        <h5 class="mb-0 mt-2">Public Enemies</h5>
        <span class="text-secondary">(2009)</span>
      </div>
      <div class="col-sm-3">
        <a href="{{ url_for('template_api.movie', id=2 ) }}">
          <img src="{{ url_for('static', filename='resources/movie-posters/the_deer_hunter.png') }}" class="w-100 img-zoom-lower-hover border-black border" alt="the_deer_hunter">
        </a>
        <h5 class="mb-0 mt-2">The Deer Hunter</h5>
        <span class="text-secondary">(1978)</span>
      </div>
      <div class="col-sm-3">
        <a href="{{ url_for('template_api.movie', id=5 ) }}">
          <img src="{{ url_for('static', filename='resources/movie-posters/warrior.png') }}" class="w-100 img-zoom-lower-hover border-black border" alt="warrior">
        </a>
        <h5 class="mb-0 mt-2">Warrior</h5>
        <span class="text-secondary">(2011)</span>

      </div>
    </div>

  </div>
  <br>
</div>
<!--IZDVAJAMO_KRAJ-->

<!--FILMSKI_DAN_POČETAK-->
<div class="container-fluid bg-light bg-gradient border-black border">
  <div class="container">
    <div class="row mt-4 text-center">
      <div class="col-sm-8 ">
        <a href="{{ url_for( 'template_api.arhiv_tuesday') }}">
          <img src="{{ url_for('static', filename='resources/pages/arhiv_tuesday/arhiv_tuesday.jpg') }}" class="w-100 border-black border" alt="filmski_dan">
        </a>
      </div>
      <div class="col-sm-4">
        <h1 class="m-0 my-5 display-6 fw-semibold">FILMSKI DAN U ARHIVU</h1>
        <hr class="my-2">
        <a href="{{ url_for( 'template_api.arhiv_tuesday') }}" class="nav-link">
          <h2 class="m-0 my-5 text-danger display-7 fw-semibold">>> NA DETALJE</h2>
        </a>
      </div>
    </div>
  </div>

  <br>
</div>
<!--FILMSKI_DAN_KRAJ-->
{% endblock %}

        
