{% extends "base.html" %}

{% block head %}
<title>Arhiv | Početna</title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
<script src="{{ url_for('static', filename='javascript/index/script.js') }}" defer></script>
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('template_api.index') }}">POČETNA</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.repertoire_search', page=1) }}">REPERTOAR</a></li>
<li class="nav-item"><a class="nav-link" href="#">DOGAĐAJI</a></li>
<li class="nav-item"><a class="nav-link" href="#">ČLANSTVO</a></li>
<li class="nav-item"><a class="nav-link" href="#">KONTAKT</a></li>
{% endblock %}

{% block content %}             
<!--IMG_SLIDER_POČETAK-->
<div id="carouselControls" class="carousel slide p-0 my-3 border-black" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='resources/index/1-novosti-slider/slider-img-1.jpg') }}" class="d-block w-100" alt="SLIDER_SLIKA-1">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/index/1-novosti-slider/slider-img-2.jpg') }}" class="d-block w-100" alt="SLIDER_SLIKA-2">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/index/1-novosti-slider/slider-img-3.jpg') }}" class="d-block w-100" alt="SLIDER_SLIKA-3">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/index/1-novosti-slider/slider-img-4.jpg') }}" class="d-block w-100" alt="SLIDER_SLIKA-4">
    </div>
    <div class="carousel-item">
      <img src="{{ url_for('static', filename='resources/index/1-novosti-slider/slider-img-5.jpg') }}" class="d-block w-100" alt="SLIDER_SLIKA-5">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
    <span class="fi-ss-angle-double-left text-danger h1" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
    <span class="fi-ss-angle-double-right text-danger h1" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--IMG_SLIDER_KRAJ-->

<!--DOGAĐAJI_3x2_POČETAK-->
<div class="container-fluid bg-dark text-white border-black">
  <div class="container">
    <h1 class="display-7 m-0 mt-2">DOGAĐAJI</h1>
    <hr class="my-2">
    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/2-novosti-3x2/novosti-img-1.jpg') }}" class="w-100 border-black" alt="novosti_img_1">
        </a>
        <h5 class="mb-0 mt-2">ONLINE KUPOVINA JE STIGLA U ARHIV!</h5>
      </div>
      <div class="col-sm-4">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/2-novosti-3x2/novosti-img-2.jpg') }}" class="w-100 border-black" alt="novosti_img_2">
        </a>
        <h5 class="mb-0 mt-2">FILMSKI DAN ZA KORISNIKE ARHIV BONUS KARTICE!</h5>
      </div>
      <div class="col-sm-4">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/2-novosti-3x2/novosti-img-3.jpg') }}" class="w-100 border-black" alt="novosti_img_3">
        </a>
        <h5 class="mb-0 mt-2">BIOSKOP ZA CELU PORODICU!</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-4 text-center">
      <div class="col-sm-4">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/2-novosti-3x2/novosti-img-4.jpg') }}" class="w-100 border-black" alt="novosti-img-4">
        </a>
        <h5 class="mb-0 mt-2">DOŽIVI FILM KAO NIKADA DO SADA!</h5>
      </div>
      <div class="col-sm-4">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/2-novosti-3x2/novosti-img-5.jpg') }}" class="w-100 border-black" alt="novosti-img-5">
        </a>
        <h5 class="mb-0 mt-2">ARHIV BONUS KARTICA - TVOJ KLUB POGODNOSTI!</h5>
      </div>
      <div class="col-sm-4">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/2-novosti-3x2/novosti-img-6.jpg') }}" class="w-100 border-black" alt="novosti-img-6">
        </a>
        <h5 class="mb-0 mt-2">PROSLAVI ROĐENDAN KAO NA FILMU!</h5>
      </div>
    </div>
  </div>

  <br>
</div>
<!--DOGAĐAJI_3x2_KRAJ-->

<!--IZDVAJAMO_POČETAK-->
<div class="container-fluid bg-dark text-white my-3 border-black">
  <div class="container">

    <h1 class="display-7 m-0 mt-2">IZDVAJAMO</h1>
    <hr class="my-2">
    <div class="row mt-4 text-center">
      <div class="col-sm-3">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/3-izdvajamo/dracula_untold.png') }}" class="w-100 border-black" alt="dracula_untold">
        </a>
        <h5 class="mb-0 mt-2">Dracula Untold</h5>
        <span class="text-secondary">(2014)</span>
      </div>
      <div class="col-sm-3">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/3-izdvajamo/public_enemies.png') }}" class="w-100 border-black" alt="public_enemies">
        </a>
        <h5 class="mb-0 mt-2">Public Enemies</h5>
        <span class="text-secondary">(2009)</span>
      </div>
      <div class="col-sm-3">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/3-izdvajamo/the_deer_hunter.png') }}" class="w-100 border-black" alt="the_deer_hunter">
        </a>
        <h5 class="mb-0 mt-2">The Deer Hunter</h5>
        <span class="text-secondary">(1978)</span>
      </div>
      <div class="col-sm-3">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/3-izdvajamo/warrior.jpg') }}" class="w-100 border-black" alt="warrior">
        </a>
        <h5 class="mb-0 mt-2">Warrior</h5>
        <span class="text-secondary">(2011)</span>

      </div>
    </div>

  </div>
  <br>
</div>
<!--IZDVAJAMO_KRAJ-->

<!--FILMSKI_DAN_POČETAK-->
<div class="container-fluid bg-warning bg-gradient border-black">
  <div class="container">
    <div class="row mt-4 text-center">
      <div class="col-sm-8 p-0">
        <a href="">
          <img src="{{ url_for('static', filename='resources/index/4-filmski-dan/filmski-dan.jpg') }}" class="w-100 border-black" alt="filmski_dan">
        </a>
      </div>
      <div class="col-sm-4">
        <h1 class="m-0 my-5 text-black">FILMSKI DAN U ARHIVU</h1>
        <hr class="my-2">
        <a href="" class="nav-link">
          <h2 class="m-0 my-5 text-danger">>> NA DETALJE</h2>
        </a>
      </div>
    </div>
  </div>

  <br>
</div>
<!--FILMSKI_DAN_KRAJ-->
{% endblock %}

        
