{% extends "base.html" %}

{% block head %}
<title>Arhiv | Projekcija </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/projection/style.css') }}">
<script src="{{ url_for('static', filename='javascript/projection/script.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container-fluid bg-white border-black border mt-3">
  <div class="container-lg">
      <div class="container row p-0 m-0 mt-2">
        <span class="display-6 col-md-4 p-0">{{ projection.hall_name }}</span>
        <span class="col-md-8 h5 text-md-end align-self-center m-0 p-0">{{ date | format_date }} - {{ projection.time }}</span>
      </div>
      <hr class="m-0 mt-3">
      <form id="reservation-form">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="hidden" name="projection_id" value="{{ projection.id }}">
          <input type="hidden" id="root_path" value="{{ url_for('static', filename='resources/seat-images/') }}">
      </form>
      <div class="bg-white p-0 p-sm-5 container row">
          <!--LEVA_POLOVINA_POČETAK-->
          <div class="col-md-6">
            <table class="bg-white text-secondary-emphasis consolas">
                <tr>
                    <td class="align-top pe-5"></td>
                    <td class="text-center" colspan="69">
                        <img src="{{ url_for('static', filename='resources/seat-images/screen.png') }}">
                    </td>
                </tr>
                <tr>
                    <td class="align-top pe-5 pb-5"> </td>
                    <td colspan="69" >
                        <div class="border-top border-secondary" style="border-radius: 20% 20% 0 0; height: 50px;"></div>
                    </td>
                </tr>
                <tr>
                <td class="align-top pe-5">1</td>
                {% for index, seat in projection.seats|enumerate %}
                        <td {% if seat.type == 5 %} colspan="2" {% endif %} class="pb-3">

                        <img id="{{ seat.id }}"
                            src="{{ url_for('static', filename='resources/seat-images/' + seat.image) }}"
                            onclick="selectSeat(this, {{ seat.id }}, {{ seat.type }}, '{{ seat.image }}')"
                        >
                            {% if seat.type == 6 and seat.love %}
                            <td class="pb-3">
                                <img src="{{ url_for('static', filename='resources/seat-images/' + seat.image) }}" >
                            </td>
                            {% endif %}

                        </td>
                        {% if loop.nextitem is defined and seat.row < projection.seats[index+1].row %}
                        </tr><tr>
                        <td class="align-top pe-5">{{ seat.row + 1 }}</td>
                        {% endif %}
                {% endfor %}
                </tr>
            </table>
            </div>
            <!--LEVA_POLOVINA_KRAJ-->

            <!--DESNA_POLOVINA_POČETAK-->
            <div class="col-md-6 row">
                <span class="display-7">Legenda:</span>
                <div>
                    <hr class="my-3">
                    <img src="{{ url_for('static', filename='resources/seat-images/normal.png') }}">
                    - Slobodno
                </div>
                <div>
                    <img src="{{ url_for('static', filename='resources/seat-images/selected.png') }}">
                    - Odabrano
                </div>
                <div>
                    <img src="{{ url_for('static', filename='resources/seat-images/reserved.png') }}">
                    - Zauzeto
                </div>
                <div>
                    <img src="{{ url_for('static', filename='resources/seat-images/unavailable.png') }}">
                    - Nedostupno
                </div>
                <div>
                    <img src="{{ url_for('static', filename='resources/seat-images/disabled.png') }}">
                    - Sedišta za osobe sa invaliditetom
                </div>
                <div>
                    <img src="{{ url_for('static', filename='resources/seat-images/vip.png') }}">
                    - VIP sedište
                </div>
                <div class="d-flex">
                    <div class="d-flex justify-content-start align-items-start pt-1">
                        <img src="{{ url_for('static', filename='resources/seat-images/love.png') }}">
                    </div>
                    <span class="align-self-start">&#160- Ljubavna sedišta</span>


                </div>

            </div>
            <!--DESNA_POLOVINA_KRAJ-->

          </div>
          <hr>
          <div class="d-flex justify-content-between mb-3">
              <span class="h5">
                    Cena karte:
                    <span id="ticket-info"></span>
              </span>

              <button form="reservation-form" class="btn btn-secondary border border-black">REZERVIŠI</button>
          </div>
  </div>
</div>
{% endblock %}