{% extends "base.html" %}
{% from "macros.html" import render_pagination with context %}

{% block head %}
<title>Arhiv | Repertoar</title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/repertoire/style.css') }}">
<script src="{{ url_for('static', filename='javascript/repertoire/script.js') }}" defer></script>
{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.index') }}">POČETNA</a></li>
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('template_api.repertoire', page=1) }}">REPERTOAR</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.events') }}">DOGAĐAJI</a></li>
 <li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.membership') }}">ČLANSTVO</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('template_api.contact') }}">KONTAKT</a></li>
{% endblock %}


{% block content %} 
<!--PRETRAGA_POČETAK-->
<div class="container-fluid bg-dark text-white mt-3 pt-3 pb-4 border-black border">
    <div class="container">
        <form class="row" action="" method="get">
            <div class="col-12">
              <label for="search_input" class="form-label my-1">PRETRAGA</label>
            </div>

            <div class="col-10">
              <input type="search" value="{{ '' if form['search_input'] == None else form['search_input']  }}" class="form-control border-black border py-1 px-2 consolas" id="search_input" name="search_input" placeholder=":pretraga po nazivu filma, imenu glumca ili godini izdanja">
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-success w-100 border-black border py-1 px-2">PRETRAŽI</button>
            </div>

            <div class="col-md-3">
              <label for="genre_name" class="form-label my-1">ŽANR</label>
              <select id="genre_name" name="genre_name" class="form-select border-black border py-1 px-2 consolas">
                <option value="" {{ 'selected' if form['genre_name'] == '' else '' }}>> BEZ FILTERA</option>
                <option value="Action" {{ 'selected' if form['genre_name'] == 'Action' else '' }}>> Action</option>
                <option value="Adventure" {{ 'selected' if form['genre_name'] == 'Adventure' else '' }}>> Adventure</option>
                <option value="Biography" {{ 'selected' if form['genre_name'] == 'Comedy' else '' }}>> Biography</option>
                <option value="Crime" {{ 'selected' if form['genre_name'] == 'Crime' else '' }}>> Crime</option>
                <option value="Drama" {{ 'selected' if form['genre_name'] == 'Drama' else '' }}>> Drama</option>
                <option value="Fantasy" {{ 'selected' if form['genre_name'] == 'Fantasy' else '' }}>> Fantasy</option>
                <option value="History" {{ 'selected' if form['genre_name'] == 'History' else '' }}>> History</option>
                <option value="Horror" {{ 'selected' if form['genre_name'] == 'Horror' else '' }}>> Horror</option>
                <option value="Romance" {{ 'selected' if form['genre_name'] == 'Romance' else '' }}>> Romance</option>
                <option value="Science Fiction" {{ 'selected' if form['genre_name'] == 'Science fiction' else '' }}>> Science fiction</option>
                <option value="Sport" {{ 'selected' if form['genre_name'] == 'Western' else '' }}>> Sport</option>
                <option value="Thriller" {{ 'selected' if form['genre_name'] == 'Thriller' else '' }}>> Thriller</option>
                <option value="War" {{ 'selected' if form['genre_name'] == 'War' else '' }}>> War</option>
              </select>
                         
            </div>

            <div class="col-md-3">
              <label for="imdb_rating" class="form-labe my-1">IMDB REJTING</label>
              <select id="imdb_rating" name="imdb_rating" class="form-select border-black border py-1 px-2 consolas">
                  <option value="" {{ 'selected' if form['imdb_rating'] == '' else '' }}>> BEZ FILTERA</option>
                  <option value="9" {{ 'selected' if form['imdb_rating'] == '9' else '' }}> > 9+</option>
                  <option value="8" {{ 'selected' if form['imdb_rating'] == '8' else '' }}> > 8+</option>
                  <option value="7" {{ 'selected' if form['imdb_rating'] == '7' else '' }}> > 7+</option>
                  <option value="6" {{ 'selected' if form['imdb_rating'] == '6' else '' }}> > 6+</option>
                  <option value="5" {{ 'selected' if form['imdb_rating'] == '5' else '' }}> > 5+</option>
              </select>
          </div>

            <div class="col-md-3">
              <label for="timeline" class="form-label my-1">PERIOD</label>
              <select id="timeline" name="timeline" class="form-select border-black border py-1 px-2 consolas">
                  <option value="" {{ 'selected' if form['timeline'] == '' else '' }}>> BEZ FILTERA</option>
                  <option value="2020" {{ 'selected' if form['timeline'] == '2020' else '' }}> > 2020-<script>document.write(new Date().getFullYear())</script></option>
                  <option value="2010" {{ 'selected' if form['timeline'] == '2010' else '' }}> > 2010-2020</option>
                  <option value="2000" {{ 'selected' if form['timeline'] == '2000' else '' }}> > 2000-2010</option>
                  <option value="1990" {{ 'selected' if form['timeline'] == '1990' else '' }}> > 1990-2000</option>
                  <option value="1980" {{ 'selected' if form['timeline'] == '1980' else '' }}> > 1980-1990</option>
                  <option value="1970" {{ 'selected' if form['timeline'] == '1970' else '' }}> > 1970-1980</option>
                  <option value="1960" {{ 'selected' if form['timeline'] == '1960' else '' }}> > 1960-1970</option>
                  <option value="1950" {{ 'selected' if form['timeline'] == '1950' else '' }}> > 1950-1960</option>
              </select>
          </div>

            <div class="col-md-3">
                <label for="sort_method" class="form-label my-1">SORTIRAJ PO</label>
                <select id="sort_method" name="sort_method" class="form-select border-black border py-1 px-2 consolas">
                  <option value="" {{ 'selected' if form['sort_method'] == '' else '' }}>> BEZ FILTERA</option>
                  <option value="title_asc" {{ 'selected' if form['sort_method'] == 'title_asc' else '' }}>> NAZIV (rastući)</option>
                  <option value="title_desc" {{ 'selected' if form['sort_method'] == 'title_desc' else '' }}>> NAZIV (opadajući)</option>
                  <option value="year_asc" {{ 'selected' if form['sort_method'] == 'year_asc' else '' }}>> GODINA (rastući)</option>
                  <option value="year_desc" {{ 'selected' if form['sort_method'] == 'year_desc' else '' }}>> GODINA (opadajući)</option>
                  <option value="rating_asc" {{ 'selected' if form['sort_method'] == 'rating_asc' else '' }}>> IMDB REJTING (rastući)</option>
                  <option value="rating_desc" {{ 'selected' if form['sort_method'] == 'rating_desc' else '' }}>> IMDB REJTING (opadajući)</option>
                  <option value="votes_asc" {{ 'selected' if form['sort_method'] == 'votes_asc' else '' }}>> BROJ GLASOVA (rastući)</option>
                  <option value="votes_desc" {{ 'selected' if form['sort_method'] == 'votes_desc' else '' }}>> BROJ GLASOVA (opadajući)</option>
                </select>              
            </div>

          </form>      
    </div>
</div>
<!--PRETRAGA_KRAJ-->

<!--FILMOVI_PREGLED_POČETAK-->
<div class="container-fluid bg-dark text-white mt-3 border-black border">
    <div class="container">

      <h1 class="display-7 m-0 mt-2">REZULTATI PRETRAGE</h1>
      <hr class="my-2">

      <div class="row mt-4 text-center ">
        {% for movie in pagination %}
        <div class="col-sm-2 border-5 border-danger">
          <a href="{{ url_for('template_api.movie', id=movie.id ) }}">
            <img src="{{ url_for('static', filename='resources/movie-posters/' + movie.poster) }}"
            style="border: 1px solid black!important;"
            class="w-100 img-zoom-hover border-5 border-danger" alt="{{ movie.poster }}">
          </a>
          <h5 class="mb-0 mt-2">{{ movie.title }}</h5>
          <span class="text-secondary">({{ movie.year }})</span>
        </div>
        {% endfor %}
      </div>

      <hr class="my-2">

      {{ render_pagination(pagination, endpoint) }}

    </div>
</div>
<!--FILMOVI_PREGLED_KRAJ-->
{% endblock %}
