<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Marković Miloš, milosmarkovicx3@gmail.com">
    <link rel="icon" href="{{url_for('static', filename='resources/images/icon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/AddToDatabase/css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <script src="{{url_for('static', filename='javascript/jquery.js')}}" defer></script>
    <script src="{{url_for('static', filename='javascript/UpdateToDatabase/js.js')}}" defer></script>
    <title>Dodaj u bazu</title>
</head>
<body>
    <form id="form" method="post" action="/UpdateToDatabase">
            <fieldset>
                <legend>Dodavanje filma u bazu</legend>
                {{ form.hidden_tag() }}
                <div>
<!--                    {{ form.request }}-->
                    {{ form.category.label }}
                    {{ form.category }} <br>

                    {{ form.values.label }}
                    {{ form.values }} <br>

                    {{ form.submit }}
                </div>
            </fieldset>
    </form>
    {% if type=='movie' %}
     <form id="formMovie" method="post" action="/UpdateToDatabase">
        <fieldset>
            <legend>Dodavanje filma u bazu</legend>
            {{ formx.hidden_tag() }}
            <div>
            <input type="text" hidden>


                {{ formx.submit }}
            </div>
        </fieldset>
    </form>
    {% endif %}

</body>
</html>