{% extends "base.html" %}


{% block head %}
<title>Arhiv | Arhiv Utorak </title>
<meta name="description" content="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/events/style.css') }}">
<script src="{{ url_for('static', filename='javascript/events/script.js') }}" defer></script>
{% endblock %}


{% block content %}
<div class="container-fluid bg-light border-black border mt-3">
  <div class="container my-4">
      <span class="display-7">FILMSKI DAN U ARHIVU: </span>
      <hr>
      <div class="row">
          <div class="col-sm-6 fs-5">
            <h3 class="text-warning display-8 fw-semibold">SNIŽENA CENA KARTE ZA SVE POSETIOCE!</h3>
              <p>
                  - Svaki utorak u bioskopu Arhiv je
                  <span class="fw-bold">dan za film po sniženoj ceni!</span>
                  Iskoristite prednosti i uživajte utorkom!
              </p>
              <hr>
              <h3 class="text-warning display-8 fw-semibold">DETALJI</h3>
              <p>
                - Cena pojedinačnih bioskopskih ulaznica je 20% manja, odnosno:
              </p>
                  <table>
                  <tr>
                    <th>Cena klasičnih sedišta:</th>
                    <td>240rsd</td>
                    <td>320rsd</td>
                    <td>400rsd</td>
                  </tr>
                  <tr>
                    <th>Cena VIP sedišta (x1.2):</th>
                    <td>290rsd</td>
                    <td>390rsd</td>
                    <td>480rsd</td>
                  </tr>
                  <tr>
                    <th>Trajanje filma:</th>
                    <td>> 1h</td>
                    <td>> 2h</td>
                    <td>> 3h</td>
                  </tr>
                </table>
              <hr>
          </div>
          <div class="col-sm-6">
              <img src="{{ url_for('static', filename='resources/pages/arhiv_tuesday/arhiv_tuesday.jpg') }}" class="w-100 border-black border" alt="Arhiv utorak">
          </div>
      </div>
  </div>
</div>
{% endblock %}